<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<form action="answer" class="form form-inline">
  <input type="text" name="question" id="userquestion">
  <input type="submit" value="Ask!" id="button">
</form>
